@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.sign-in-page {
	@include justify-align-center-column;
	height: calc(100vh - $navbar-height);
}

.sign-in-container {
	@include justify-align-center-column;
	padding: 40px;
	max-width: 400px;
	width: 100%;
	border-radius: 10px;
}

.sign-in-logo {
	width: 150px;
	height: 68px;
}

.sign-in-title {
	color: $blue-100;
	font-weight: 500;
	text-align: center;
	margin-top: 16px;
}

.sign-in-sub-title {
	color: $blue-300;
	font-weight: 300;
	text-align: center;
}

.link {
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: $primary;
	cursor: pointer;
}

.not-member-text {
	font-size: 14px;
	text-align: center;
	color: $blue-300;
	line-height: 25px;
}

.create-button {
	color: $primary;
	cursor: pointer;
}

@media (min-width: 576px) {
	.sign-in-container {
		border: 1px solid $blue-800;
	}
}
