@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.center-bottom {
	@include align-center-row;
	gap: 10px;
	margin-top: 30px;
	flex-wrap: wrap;
}

.center-bottom .profile-button {
	@include justify-align-center-row;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	background-color: $blue-900;
	padding: 5px 15px;
	border: none;
	height: 40px;

	&:hover {
		background-color: $blue-800;
	}
}

.center-bottom .profile-button-text {
	margin-right: 10px;
	color: $blue-300;
	white-space: nowrap;
}

.center-bottom .profile-button-icon {
	width: 18px;
	height: 18px;
	color: $blue-300;
}

@media (min-width: 769px) {
	.center-bottom {
		margin-block: 30px;
	}
}
