@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.tool-tip {
	background-color: $primary;
	padding: 5px 10px;
	position: relative;
	border-radius: 5px;
	color: white;
	position: absolute;
	left: -6px;
	top: -50px;
	white-space: nowrap;
	display: none;

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: $primary;
		left: 16px;
		bottom: -8px;
		transform: rotate(45deg);
	}
}
