// ---------------- Colors ----------------
$primary: rgb(25, 170, 238);
$secondary: rgb(220, 244, 255);
$accent: rgb(239, 252, 255);

$red: rgb(231, 62, 62);
$green: rgb(0, 180, 0);

$blue-100: rgb(47, 67, 92);
$blue-200: rgb(62, 84, 110);
$blue-300: rgb(88, 110, 139);
$blue-400: rgb(127, 151, 182);
$blue-500: rgb(143, 163, 190);
$blue-600: rgb(180, 196, 216);
$blue-700: rgb(201, 214, 231);
$blue-800: rgb(216, 225, 238);
$blue-900: rgb(241, 246, 251);
$blue-1000: rgb(249, 251, 253);

// ---------------- Navbar ----------------
$navbar-height: 74px;
$navbar-line: 1px solid $blue-800;
